<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colored Boxes</title>
    <!-- Set CSS inside the Head -->
    <style>
        /* Setting the background to dark, I like to work like this*/
        *{
            background-color: slategray;
        }
        /* ".box" is a CSS selector defining what all our printed boxes should look like*/
        .box {
            width: 100px;
            height: 100px;
            margin: 10px;
            display: inline-block;
        }
    </style>
</head>
<!-- Open "body" as main content -->
<body>

    <!-- Write our Jinja for loop -->
    
    {% for x in range(num_boxes) %}
        <!-- Our "num_boxes" is being set in the URL and that is dictating "x" and how many times loop will run -->
        
        <div class="box" style="background-color: {{ box_color }};"></div>
        <!-- Our background color will be a varibale being set by our UR in our "def play(x, color):" function -->
    
        {% endfor %}
    <!-- Close Jinja for loop -->
</body>
<!-- Close body -->
</html>